.db--container,
.doulist-item {
    --db--text-color: var(--hera-text-color);
    --db--text-color-light: var(--hera-text-light);
    --db--background-gray: var(--hera-background-gray);
    --db-border-color: var(--hera-border-color);
}
