.template--terms {
    padding: 50px 80px;
    min-height: 60vh;

    .page--header {
        padding: 0px 0 40px;
        text-align: center;
    }
}

.tagCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding-top: 20px;

    &--item {
        transition: 0.5s;
        padding: 8px 15px;
        border: 1px solid var(--hera-border-color);
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        color: var(--hera-text-gray);

        &:hover {
            .collectionCard--title {
                color: var(--hera-hover-color);
                text-decoration: underline;
            }

            color: var(--hera-hover-color);
        }

        &::after {
            position: absolute;
            content: attr(data-count);
            opacity: 0.15;
            bottom: -8px;
            right: -2px;
            color: var(--hera-text-gray-lightest);
            font-size: 40px;
            font-style: italic;
            font-weight: bold;
            line-height: 1;
        }
    }
}

@media (max-width: 920px) {
    .tagCard {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 480px) {
    .tagCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

.collectionCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-top: 20px;

    &--icon {
        margin-top: 10px;
    }

    &--item {
        transition: 0.5s;
        padding: 0 0 8px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        background-color: #f2f2f2;

        &:hover {
            .collectionCard--title {
                color: var(--hera-hover-color);
                text-decoration: underline;
            }
        }

        &::after {
            position: absolute;
            content: attr(data-count);
            opacity: 0.15;
            bottom: -8px;
            right: -5px;
            color: var(--hera-text-gray-lightest);
            font-size: 60px;
            font-style: italic;
            font-weight: bold;
            line-height: 1;
        }
    }

    &--image {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 3px 3px 0 0;
    }

    &--meta {
        padding: 5px 15px 0;
    }

    &--title {
        font-weight: 500;
        line-height: 1;
        margin-bottom: 8px;
    }

    &--description {
        font-size: 12px;
        color: var(--hera-text-gray);
        line-height: 1.4;
        height: 2.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    &--count {
        font-size: 12px;
        color: var(--hera-text-gray);
    }
}

@media (max-width: 920px) {
    .template--terms {
        padding: 50px 20px;
    }

    .collectionCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .collectionCard {
        grid-template-columns: repeat(1, 1fr);
    }
}

.archive {
    &--list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    &--title {
        font-size: 18px;
        line-height: 1.4;
        height: 2.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;

        &__year {
            font-size: 22px;
            font-weight: 900;
        }
    }

    &--meta {
        font-size: 12px;
        color: var(--hera-text-gray);
        margin-top: 5px;
    }

    &--item {
        padding: 15px;
        background-color: #fafafa;
        border-radius: 10px;
    }
}

.archive-header {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;

    .author--avatar {
        width: 72px;
        height: 72px;
        margin-right: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .author--bio {
        h3 {
            font-size: 24px;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
            color: var(--hera-text-gray);
            line-height: 1.3;
        }
    }

    .archive-header-image {
        height: 72px;
        width: 72px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 15px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 8px;
    }

    .taxonomy-description {
        font-size: 16px;
        color: var(--hera-text-gray);
        line-height: 1.3;
    }

    & + .site--main {
        padding-top: 30px;
    }

    &__search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        .search-form {
            border: 1px solid var(--hera-border-color);
            border-radius: 999rem;
            padding: 5px;

            .search-field {
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                padding: 0 15px;
                font-size: 14px;
                width: 250px;
            }

            .search-submit {
                border-radius: 999rem;
                border: 0;
                background: gredient(to right, #007cf0, #00dfd8);
                font-size: 14px;
                color: var(--hera-text-gray);
                padding: 8px 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .archive-header {
        padding-left: 3.5%;
        padding-right: 3.5%;

        h1 {
            font-size: 20px;
        }

        .taxonomy-description {
            font-size: 16px;
        }

        & + .site--main {
            padding-top: 20px;
        }
    }
}
