.layout {
    // max-width: 1000px;
    margin: 0 auto;
    display: flex;
    // align-items: flex-start;
}

.content {
    padding: 50px 80px 50px 50px;
    flex: 1 1 auto;
}

.post--list {
    max-width: 720px;
    margin: 0 auto;
}

@media (max-width: 720px) {
    .layout {
        flex-direction: column;
    }
}

.block--snippet {
    font-size: 14px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
}

.block--title {
    margin: 0 0 10px;
}
